# Python Version 3.10
langchain==0.1.12
langchain-openai==0.0.8
langchain-community==0.3.22
fastapi>=0.115.0
uvicorn==0.27.1
python-dotenv==1.0.1
requests==2.31.0
faiss-cpu==1.10.0
tiktoken==0.6.0
pydantic~=2.11.2
SQLAlchemy==2.0.40
openai>=1.12.0
moviepy==2.1.2
opencv-python==4.9.0.80
scikit-learn==1.6.1
Pillow==10.2.0
duckduckgo-search==8.0.1
decorator>=4.0.2,<5.0
imageio==2.34.0
imageio-ffmpeg==0.4.9
proglog==0.1.10
reportlab==4.4.0
python-multipart==0.0.20
pypdf==5.4.0
pymupdf==1.25.5